{% extends 'base.html.twig' %}


 {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

        {% endblock %}

  		{% block javascripts %}

       	{% javascripts '@AppBundle/Resources/public/scripts/*' %}
   		<script src="{{ asset_url }}"></script>
          {% endjavascripts %}

           {% endblock %}