{% extends 'layout.html.twig' %}

{% block title %} BakingShop {% endblock %}


{% block body %}
    
        
  <div class="clearfix" id="page"><!-- column -->
   <div class="clearfix colelem" id="pu180"><!-- group -->
    <div class="clip_frame grpelem" id="u180"><!-- image -->
     <img class="block" id="u180_img" src = "{{ asset('@AppBundle/web/bundles/app/images/bakinglogo.jpg') }}" alt="" width="255" height="177"/>
    </div>
    <div class="clearfix grpelem" id="ppu175"><!-- column -->
     <div class="clearfix colelem" id="pu175"><!-- group -->
      <div class="clip_frame grpelem" id="u175"><!-- image -->
       <img class="block" id="u175_img" src= "{{ asset('@AppBundle/web/bundles/app/images/123-crop-u175.jpg') }}" alt="" width="745" height="34"/>
      </div>
      <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u267-4" href="/"><!-- content --><p>Log In or Register</p></a>
      <div class="clearfix grpelem" id="u268-4"><!-- content -->
       <p>|</p>
      </div>
      <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u269-4" href="/"><!-- content --><p>Wish List</p></a>
      <div class="clearfix grpelem" id="u270-4"><!-- content -->
       <p>|</p>
      </div>
      <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u271-4" href="/"><!-- content --><p>Track My Order</p></a>
      <div class="clearfix grpelem" id="u272-4"><!-- content -->
       <p>|</p>
      </div>
      <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u273-4" href="/"><!-- content --><p>Blog</p></a>
      <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u274-4" href="/"><!-- content --><p>Cart Talk</p></a>
      <a class="nonblock nontext MuseLinkActive clearfix grpelem" id="u275-4" href="/"><!-- content --><p>Find a Store</p></a>
      <div class="clearfix grpelem" id="u276-4"><!-- content -->
       <p>|</p>
      </div>
      <div class="clearfix grpelem" id="u277-4"><!-- content -->
       <p>|</p>
      </div>
     </div>
     <div class="clearfix colelem" id="pu200"><!-- group -->
      <a class="nonblock nontext clip_frame grpelem" id="u200" href="http://www.twitter.com" title="Twitter"><!-- image -->

        <img class="block" id="u200_img" src= "{{ asset('AppBundle/Resources/public/images/twitter-icon.png') }}" 
        alt="" width="30" height="30"/></a>

      <a class="nonblock nontext clip_frame grpelem" id="u190" href="http://www.pinterest.com" title="Pinterest">
        <!--image -->
        <img class="block" id="u190_img" src= "{{ asset('AppBundle/Resources/public/images/pinterest-icon.png') }}" alt="" width="30" height="30"/></a>
      <a class="nonblock nontext clip_frame grpelem" id="u185" href="http://www.instagram.com" title="Instagram">
        <img class="block" id="u185_img" src= "{{ asset('AppBundle/Resources/public/images/instagram-icon-png-4.png') }}" alt="" width="30" height="30"/></a>
      <a class="nonblock nontext clip_frame grpelem" id="u195" href="http://www.facebook.com" title="Facebook">
        <img class="block" id="u195_img" src= "{{ asset('AppBundle/Resources/public/images/social_facebook_box_blue.png') }}" alt="" width="31" height="31"/></a>
     </div>
    </div>
   </div>
   <div class="clearfix colelem" id="pu281">
    <div class="clip_frame grpelem" id="u281"> 

      <!-- image -->
     <img class="block" id="u281_img" src= "{{ asset('AppBundle/Resources/public/images/123-crop-u281.jpg') }}"  alt="" width="19" height="20"/>
    </div>
    <div class="clearfix grpelem" id="u293-4"> <!-- content -->
     <p>CAKE STANDS</p>
    </div>
    <div class="clip_frame grpelem" id="u284"> 
      <!-- image -->
     <img class="block" id="u284_img" src="{{ asset('AppBundle/Resources/public/images/123-crop-u284.jpg') }}" alt="" width="18" height="18"/>
    </div>
    <div class="clearfix grpelem" id="u294-4"> <!-- content -->
     <p>EDIBLES</p>
    </div>
    <div class="clip_frame grpelem" id="u287"> 
      <!-- image -->
     <img class="block" id="u287_img" src= "{{ asset('AppBundle/Resources/public/images/123-crop-u287.jpg') }}" alt="" width="17" height="17"/>
    </div>
    <div class="clearfix grpelem" id="u295-4"> <!-- content -->
     <p>EQUIPMENT</p>
    </div>
    <div class="clip_frame grpelem" id="u314"><!-- image -->
     <img class="block" id="u314_img" src="{{ asset('AppBundle/Resources/public/images/123-crop-u314.jpg') }}" alt="" width="18" height="18"/>
    </div>
    <div class="clearfix grpelem" id="u316-4"><!-- content -->
     <p>SEASONAL DECORATIONS</p>
    </div>
    <div class="clip_frame grpelem" id="u319"><!-- image -->
     <img class="block" id="u319_img" src="{{ asset('AppBundle/Resources/public/images/123-crop-u319.jpg') }}" alt="" width="18" height="18"/>
    </div>
    <div class="clearfix grpelem" id="u321-4"><!-- content -->
     <p>WEDDING</p>
    </div>
   </div>
   <div class="clearfix colelem" id="pu160"><!-- group -->
    <div class="clip_frame grpelem" id="u160"><!-- image -->
     <img class="block" id="u160_img" src="{{ asset('AppBundle/Resources/public/images/1.jpg') }}" alt="" width="184" height="147"/>
    </div>
    <div class="clearfix grpelem" id="pu492-4"><!-- column -->
     <div class="clearfix colelem" id="u492-4"><!-- content -->
      <p>CAKE DECORATING SHOP</p>
     </div>
     <div class="clearfix colelem" id="u344-18"><!-- content -->
      <p>Our selection of speciality cake decorating equipment offers <span id="u344-2">airbrushes, cake dummies, cake stands and other kitchen</span></p>
      <p><span id="u344-4">gadgets.</span></p>
      <p>BakingShop also offers seasonal cake decorating supplies for many <span id="u344-7">Holiday festivities</span>&nbsp;and a wide range of <span id="u344-9">licensed</span></p>
      <p><span id="u344-11">characters</span>&nbsp;plus a variety of speciality ingridients like <span id="u344-13">edible paper, sugarpaste, and food colors!</span></p>
      <p id="u344-16">Take a look at our wide selection!</p>
     </div>
    </div>
   </div>
   <div class="clearfix colelem" id="pppu345"><!-- group -->
    <div class="clearfix grpelem" id="ppu345"><!-- column -->
     <div class="clearfix colelem" id="pu345"><!-- group -->
      <div class="clip_frame grpelem" id="u345"><!-- image -->
       <img class="block" id="u345_img" src="{{ asset('AppBundle/Resources/public/images/345.jpg') }}" alt="" width="620" height="21"/>
      </div>
      <div class="clearfix grpelem" id="u347-4"><!-- content -->
       <p>WEDDING CAKE TOP SHOP</p>
      </div>
     </div>
     <div class="clearfix colelem" id="u357-20"><!-- content -->
      <p>Browse our spectacular array of exquisite wedding cake tops &amp; designer ornaments! You are sure to find the cake top</p>
      <p>to add that special touch to your wedding cake!</p>
      <p id="u357-6">Review our wedding cake tops selection or browse by category:</p>
      <p id="u357-7">&nbsp;</p>
      <p id="u357-9">Elegant Jewels &#45; Monogram Letters &amp; Numbers</p>
      <p id="u357-11">Bridesmaid Figurines</p>
      <p id="u357-13">Anniversary cake tops</p>
      <p id="u357-14">&nbsp;</p>
      <p id="u357-18"><span id="u357-15">Wedding cake toppers with</span>&nbsp;<span id="u357-17">Hearts, Floral, ... many more</span></p>
     </div>
    </div>
    <div class="clearfix grpelem" id="u101-3"><!-- content -->
     <p>&nbsp;</p>
    </div>
    <div class="clip_frame grpelem" id="u157"><!-- image -->
     <img class="block" id="u157_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u281.jpg') }}" alt="" width="186" height="188"/>
    </div>
   </div>
   <div class="clearfix colelem" id="pu165"><!-- group -->
    <div class="clip_frame grpelem" id="u165"><!-- image -->
     <img class="block" id="u165_img" src = "{{ asset('AppBundle/Resources/public/images/3.jpg') }}" alt="" width="186" height="188"/>
    </div>
    <div class="clearfix grpelem" id="ppu349"><!-- column -->
     <div class="clearfix colelem" id="pu349"><!-- group -->
      <div class="clip_frame grpelem" id="u349"><!-- image -->
       <img class="block" id="u349_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u349.jpg') }}" alt="" width="620" height="21"/>
      </div>
      <div class="clearfix grpelem" id="u351-4"><!-- content -->
       <p>LICENSED CAKE DECORATING AND THEME PARTY SUPPLIES</p>
      </div>
     </div>
     <div class="clearfix colelem" id="u358-16"><!-- content -->
      <p>Harry Potter</p>
      <p>Tom and Jerry</p>
      <p>Transformers</p>
      <p>Sesame Street <span id="u358-8">HOT</span></p>
      <p>College &amp; University Decorations</p>
      <p><span id="u358-12">more</span>&nbsp;licensed characters</p>
     </div>
    </div>
    <div class="clearfix grpelem" id="pu475"><!-- column -->
     <div class="clip_frame colelem" id="u475"><!-- image -->
      <img class="block" id="u475_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u475.jpg') }}" alt="" width="22" height="32"/>
     </div>
     <div class="clip_frame colelem" id="u478"><!-- image -->
      <img class="block" id="u478_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u478.jpg') }}" alt="" width="22" height="32"/>
     </div>
    </div>
   </div>
   <div class="clearfix colelem" id="pu170"><!-- group -->
    <div class="clip_frame grpelem" id="u170"><!-- image -->
     <img class="block" id="u170_img" src = "{{ asset('AppBundle/Resources/public/images/4.jpg') }}" alt="" width="186" height="188"/>
    </div>
    <div class="clearfix grpelem" id="ppu353"><!-- column -->
     <div class="clearfix colelem" id="pu353"><!-- group -->
      <div class="clip_frame grpelem" id="u353"><!-- image -->
       <img class="block" id="u353_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u353.jpg') }}"alt="" width="620" height="21"/>
      </div>
      <div class="clearfix grpelem" id="u355-4"><!-- content -->
       <p>MAGAZINE SHOP</p>
      </div>
     </div>
     <div class="clearfix colelem" id="u359-8"><!-- content -->
      <p>A selection of your favorite gourmet magazines.</p>
      <p>Choose from Dessert Professional, Saveur, Diabetic Cooking and others and save up to 80%.</p>
      <p id="u359-6">Subscribe today and save!</p>
     </div>
    </div>
    <div class="clearfix grpelem" id="pu481"><!-- column -->
     <div class="clip_frame colelem" id="u481"><!-- image -->
      <img class="block" id="u481_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u481.jpg') }}" alt="" width="22" height="32"/>
     </div>
     <div class="clip_frame colelem" id="u509"><!-- image -->
      <img class="block" id="u509_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u509.jpg') }}" alt="" width="22" height="32"/>
     </div>
    </div>
   </div>
   <div class="clearfix colelem" id="u503"><!-- group -->
    <div class="clearfix grpelem" id="u506-8"><!-- content -->
     <p><span id="u506">Review Items in Cart! Cake Decorating Supplies.</span></p>
     <p><span id="u506-3">Licensed Characters &#45; Seasonal Cake Decorating Supplies &#45; Wedding &amp; Bridal Shop</span></p>
     <p><span id="u506-5">Edibles &amp; Ingredients &#45; Equipment &amp; Kitchenware &#45; Cake stands &#45; Cake Kits</span></p>
    </div>
   </div>
   <div class="clearfix colelem" id="u505"><!-- group -->
    <div class="clearfix grpelem" id="u507-8"><!-- content -->
     <p>Shopping with us is safe and secure.</p>
     <p>Privacy &#45; Shipping information &#45; Help &amp; Policies &#45; Feedback</p>
     <p>Back to: Backingshop.com &#45; Recipes &#45; Cake Decorating Supplies</p>
    </div>
   </div>
   <div class="verticalspacer"></div>
   <div class="clearfix colelem" id="pu233"><!-- group -->
    <div class="clip_frame grpelem" id="u233"><!-- image -->
     <img class="block" id="u233_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u233.jpg') }}"  alt="" width="58" height="1147"/>
    </div>
    <div class="clip_frame grpelem" id="u239"><!-- image -->
     <img class="block" id="u239_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u239.jpg') }}" alt="" width="59" height="1147"/>
    </div>
    <div class="clip_frame grpelem" id="u251"><!-- image -->
     <img class="block" id="u251_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u251.jpg') }}" alt="" width="918" height="19"/>
    </div>
    <div class="clip_frame grpelem" id="u255"><!-- image -->
     <img class="block" id="u255_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u255.jpg') }}" alt="" width="116" height="19"/>
    </div>
    <div class="clearfix grpelem" id="u265"><!-- group -->
     <div class="clip_frame grpelem" id="u242"><!-- image -->
      <img class="block" id="u242_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u242.jpg') }}" alt="" width="918" height="58"/>
     </div>
     <div class="clip_frame grpelem" id="u258"><!-- image -->
      <img class="block" id="u258_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u258.jpg') }}" alt="" width="116" height="58"/>
     </div>
    </div>
    <div class="clip_frame grpelem" id="u220"><!-- image -->
     <img class="block" id="u220_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u220.jpg') }}"  alt="" width="74" height="18"/>
    </div>
    <div class="clip_frame grpelem" id="u229"><!-- image -->
     <img class="block" id="u229_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u229.jpg') }}" alt="" width="19" height="26"/>
    </div>
    <div class="clearfix grpelem" id="u278-4"><!-- content -->
     <p>BAKINGSHOP</p>
    </div>
    <div class="clip_frame grpelem" id="u223"><!-- image -->
     <img class="block" id="u223_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u223.jpg') }}" alt="" width="16" height="17"/>
    </div>
    <div class="clearfix grpelem" id="u280-4"><!-- content -->
     <p>CAKE DECORATING</p>
    </div>
    <div class="clip_frame grpelem" id="u226"><!-- image -->
     <img class="block" id="u226_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u226.jpg') }}" alt="" width="18" height="17"/>
    </div>
    <div class="clearfix grpelem" id="u279-4"><!-- content -->
     <p>BRIDAL</p>
    </div>
    <div class="clip_frame grpelem" id="u300"><!-- image -->
     <img class="block" id="u300_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u300.jpg') }}" alt="" width="18" height="17"/>
    </div>
    <div class="clearfix grpelem" id="u302-4"><!-- content -->
     <p>LICENSED DECORATIONS</p>
    </div>
    <div class="clip_frame grpelem" id="u304"><!-- image -->
     <img class="block" id="u304_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u304.jpg') }}" alt="" width="15" height="16"/>
    </div>
    <div class="clearfix grpelem" id="u306-4"><!-- content -->
     <p>MAGAZINES</p>
    </div>
    <div class="clip_frame grpelem" id="u336"><!-- image -->
     <img class="block" id="u336_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u336.jpg') }}" alt="" width="620" height="21"/>
    </div>
    <div class="clearfix grpelem" id="u363"><!-- column -->
     <div class="position_content" id="u363_position_content">
      <div class="clearfix colelem" id="pu364"><!-- group -->
       <div class="clip_frame grpelem" id="u364"><!-- image -->
        <img class="block" id="u364_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u364.jpg') }}" alt="" width="22" height="32"/>
       </div>
       <div class="clearfix grpelem" id="u370-4"><!-- content -->
        <p>MAGAZINES</p>
       </div>
      </div>
      <div class="clearfix colelem" id="u372-4"><!-- content -->
       <p>Dessert Professional</p>
      </div>
      <div class="clearfix colelem" id="u373-4"><!-- content -->
       <p>Diabetic Cooking</p>
      </div>
      <div class="clearfix colelem" id="u374-4"><!-- content -->
       <p>Saveur</p>
      </div>
      <div class="clearfix colelem" id="u375-4"><!-- content -->
       <p>&gt;&gt;...</p>
      </div>
     </div>
    </div>
    <div class="clearfix grpelem" id="u413"><!-- column -->
     <div class="clearfix colelem" id="u416-4"><!-- content -->
      <p>DECORATIONS FOR</p>
     </div>
     <div class="clearfix colelem" id="u417-4"><!-- content -->
      <p>Celebrations</p>
     </div>
     <div class="clearfix colelem" id="u418-4"><!-- content -->
      <p>Baby Showers</p>
     </div>
     <div class="clearfix colelem" id="u419-4"><!-- content -->
      <p>Boys</p>
     </div>
     <div class="clearfix colelem" id="u420-4"><!-- content -->
      <p>Girls</p>
     </div>
    </div>
    <div class="clearfix grpelem" id="u426"><!-- column -->
     <div class="clearfix colelem" id="u429-4"><!-- content -->
      <p>EDIBLE SHOP</p>
     </div>
     <div class="clearfix colelem" id="u430-4"><!-- content -->
      <p>Sugarpaste</p>
     </div>
     <div class="clearfix colelem" id="u431-4"><!-- content -->
      <p>Edible paper</p>
     </div>
     <div class="clearfix colelem" id="u432-4"><!-- content -->
      <p>&gt;&gt;...</p>
     </div>
    </div>
    <div class="clearfix grpelem" id="u457"><!-- group -->
     <div class="clearfix grpelem" id="u460-4"><!-- content -->
      <p>AFFILIATES</p>
     </div>
    </div>
    <div class="clearfix grpelem" id="u484"><!-- group -->
     <div class="clip_frame grpelem" id="u466"><!-- image -->
      <img class="block" id="u466_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u466.jpg') }}" alt="" width="22" height="32"/>
     </div>
     <div class="clearfix grpelem" id="u376"><!-- column -->
      <div class="position_content" id="u376_position_content">
       <div class="clearfix colelem" id="u379-4"><!-- content -->
        <p>SUPPLIES</p>
       </div>
       <div class="clearfix colelem" id="u380-4"><!-- content -->
        <p>Cake dummies</p>
       </div>
       <div class="clearfix colelem" id="u381-4"><!-- content -->
        <p>Cake pans</p>
       </div>
       <div class="clearfix colelem" id="u382-4"><!-- content -->
        <p>Cake Boards</p>
       </div>
       <div class="clearfix colelem" id="u383-4"><!-- content -->
        <p>Cake Stands</p>
       </div>
       <div class="clearfix colelem" id="u385-4"><!-- content -->
        <p>Cookie Cutters</p>
       </div>
       <div class="clearfix colelem" id="u386-4"><!-- content -->
        <p>Pastry Tips</p>
       </div>
       <div class="clearfix colelem" id="u387-4"><!-- content -->
        <p>&gt;&gt;...</p>
       </div>
      </div>
     </div>
    </div>
    <div class="clearfix grpelem" id="u486"><!-- group -->
     <div class="clip_frame grpelem" id="u469"><!-- image -->
      <img class="block" id="u469_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u469.jpg') }}" alt="" width="22" height="32"/>
     </div>
     <div class="clearfix grpelem" id="u388"><!-- column -->
      <div class="clearfix colelem" id="u391-4"><!-- content -->
       <p>CAKE TOP SHOP</p>
      </div>
      <div class="clearfix colelem" id="u392-4"><!-- content -->
       <p>Anniversary</p>
      </div>
      <div class="clearfix colelem" id="u393-4"><!-- content -->
       <p>Floral</p>
      </div>
      <div class="clearfix colelem" id="u395-4"><!-- content -->
       <p>&gt;&gt;...</p>
      </div>
     </div>
    </div>
    <div class="clearfix grpelem" id="u490"><!-- group -->
     <div class="clip_frame grpelem" id="u472"><!-- image -->
      <img class="block" id="u472_img" src = "{{ asset('AppBundle/Resources/public/images/123-crop-u472.jpg') }}" alt="" width="22" height="32"/>
     </div>
     <div class="clearfix grpelem" id="u400"><!-- column -->
      <div class="clearfix colelem" id="u407-4"><!-- content -->
       <p>SEASONAL SHOP</p>
      </div>
      <div class="clearfix colelem" id="u408-4"><!-- content -->
       <p>Sweetest Day</p>
      </div>
      <div class="clearfix colelem" id="u404-4"><!-- content -->
       <p>Easter</p>
      </div>
      <div class="clearfix colelem" id="u410-4"><!-- content -->
       <p>Graduation</p>
      </div>
      <div class="clearfix colelem" id="u406-4"><!-- content -->
       <p>Mother's Day</p>
      </div>
      <div class="clearfix colelem" id="u409-4"><!-- content -->
       <p>Halloween</p>
      </div>
      <div class="clearfix colelem" id="u405-4"><!-- content -->
       <p>Thanksgiving</p>
      </div>
      <div class="clearfix colelem" id="u412-4"><!-- content -->
       <p>Christmas</p>
      </div>
      <div class="clearfix colelem" id="u403-4"><!-- content -->
       <p>&gt;&gt;...</p>
      </div>
     </div>
    </div>
   </div>
   <div class="clearfix colelem" id="pu266"><!-- group -->
    <div class="clearfix grpelem" id="u266"><!-- group -->
     <div class="clip_frame grpelem" id="u245"><!-- image -->
      <img class="block" id="u245_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u245.jpg') }}"  alt="" width="918" height="58"/>
     </div>
     <div class="clip_frame grpelem" id="u261"><!-- image -->
      <img class="block" id="u261_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u261.jpg') }}" alt="" width="116" height="58"/>
     </div>
    </div>
    <div class="clip_frame grpelem" id="u495"><!-- image -->
     <img class="block" id="u495_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u495.jpg') }}" alt="" width="59" height="58"/>
    </div>
    <div class="clip_frame grpelem" id="u498"><!-- image -->
     <img class="block" id="u498_img" src = "{{ asset('AppBundle/Resources/public/images/bakingshop_end_v9-crop-u498.jpg') }}" alt="" width="59" height="58"/>
    </div>
   </div>
  </div>


  <!-- JS includes 
 

  {% block javascripts %}

  <script type="text/javascript">
   document.documentElement.className += ' js';
</script>

 <script type="text/javascript">
  if(typeof Muse == "undefined") window.Muse = {}; window.Muse.assets = {"required":["jquery-1.8.3.min.js", "museutils.js", "jquery.watch.js", "index.css"], "outOfDate":[]}; 

   if (document.location.protocol != 'https:') document.write('\x3Cscript src="http://musecdn.businesscatalyst.com/scripts/4.0/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>

 <!-- <script type="text/javascript">
   window.jQuery || document.write('\x3Cscript src="scripts/jquery-1.8.3.min.js" type="text/javascript">\x3C/script>');
</script>
  <script src="scripts/museutils.js?135030331" type="text/javascript"></script>
  <script src="scripts/jquery.watch.js?377079819" type="text/javascript"></script>
  <!-- Other scripts 
  <script type="text/javascript">
   $(document).ready(function() { try {
(function(){var a={},b=function(a){if(a.match(/^rgb/))return a=a.replace(/\s+/g,"").match(/([\d\,]+)/gi)[0].split(","),(parseInt(a[0])<<16)+(parseInt(a[1])<<8)+parseInt(a[2]);if(a.match(/^\#/))return parseInt(a.substr(1),16);return 0};(function(){$('link[type="text/css"]').each(function(){var b=($(this).attr("href")||"").match(/\/?css\/([\w\-]+\.css)\?(\d+)/);b&&b[1]&&b[2]&&(a[b[1]]=b[2])})})();(function(){$("body").append('<div class="version" style="display:none; width:1px; height:1px;"></div>');
for(var c=$(".version"),d=0;d<Muse.assets.required.length;){var f=Muse.assets.required[d],g=f.match(/([\w\-\.]+)\.(\w+)$/),k=g&&g[1]?g[1]:null,g=g&&g[2]?g[2]:null;switch(g.toLowerCase()){case "css":k=k.replace(/\W/gi,"_").replace(/^([^a-z])/gi,"_$1");c.addClass(k);var g=b(c.css("color")),h=b(c.css("background-color"));g!=0||h!=0?(Muse.assets.required.splice(d,1),"undefined"!=typeof a[f]&&(g!=a[f]>>>24||h!=(a[f]&16777215))&&Muse.assets.outOfDate.push(f)):d++;c.removeClass(k);break;case "js":k.match(/^jquery-[\d\.]+/gi)&&
typeof $!="undefined"?Muse.assets.required.splice(d,1):d++;break;default:throw Error("Unsupported file type: "+g);}}c.remove();if(Muse.assets.outOfDate.length||Muse.assets.required.length)c="Некоторые файлы на сервере могут отсутствовать или быть некорректными. Очистите кэш-память браузера и повторите попытку. Если проблему не удается устранить, свяжитесь с разработчиками сайта.",(d=location&&location.search&&location.search.match&&location.search.match(/muse_debug/gi))&&Muse.assets.outOfDate.length&&(c+="\nOut of date: "+Muse.assets.outOfDate.join(",")),d&&Muse.assets.required.length&&(c+="\nMissing: "+Muse.assets.required.join(",")),alert(c)})()})();
/* body */
Muse.Utils.transformMarkupToFixBrowserProblemsPreInit();/* body */
Muse.Utils.prepHyperlinks(true);/* body */
Muse.Utils.fullPage('#page');/* 100% height page */
Muse.Utils.showWidgetsWhenReady();/* body */
Muse.Utils.transformMarkupToFixBrowserProblems();/* body */
} catch(e) { if (e && 'function' == typeof e.notify) e.notify(); else Muse.Assert.fail('Error calling selector function:' + e); }});
</script>
--> 

{% endblock %}

{% endblock %}

